<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet " href="css/home/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap" rel="stylesheet">
    <script src="js/vlogH.js" defer></script>
    <script src="js/jquery/jquery-3.6.0.js"></script>
    <script src="https://kit.fontawesome.com/55b31908b6.js" crossorigin="anonymous"></script>
    <title>폭탄 받아라</title>

</head>
<body>
    <nav class="navbar">
        <div class="navbar__logo">
            <i class="fas fa-bomb"></i>
            <a href="/">Booom</a>

        </div>
        <ul class="navbar__menu">
            <li><a href="/">Home</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="videoH.html">Video</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Bookings</a></li>     
        </ul>
        <ul class="navbar__icons">
            <li><a href="https://www.facebook.com/" target="_blank" title="페이스북"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://www.youtube.com/" target="_blank" title="youtube"><i class="fab fa-youtube"></i></a></li>
        </ul>
        <a href="#" class="navbar__toogleBtn">
            <i class="fas fa-bars"></i>
        </a>
    </nav>
<footer class="ft_">
    <div class=""></div>
    <div class=""></div>
</footer>
</body>
</html>